<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/extensions.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19471266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script');
         ga.type = 'text/javascript';
         ga.async = true;
         ga.src = ('https:' == document.location.protocol ?
                   'https://ssl' : 'http://www') +
                   '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
        function changeExample() {
            var p = document.getElementById("example");
            var s = document.getElementById("examplemenu");

            var t = "";
            var o = s.options[s.selectedIndex];
            if (o.value == "readwrite") {
                t = "type Books {\n" +
                    "    title string,\n" +
                    "    pages int,\n" +
                    "    price real,\n" +
                    "}\n" +
                    "\n" +
                    "var shelf Books;\n" +
                    "\n" +
                    "fn List() Books {\n" +
                    "    return shelf;\n" +
                    "}\n" +
                    "\n" +
                    "fn Append(b Books) void {\n" +
                    "    shelf += b;\n" +
                    "}";
            } else if (o.value == "function") {
                t = "type Books {\n" +
                    "    title string,\n" +
                    "    pages int,\n" +
                    "    price real,\n" +
                    "}\n" +
                    "\n" +
                    "fn Expensive(b Books) Books {\n" +
                    "    return select (price > 100.0) b;\n" +
                    "}\n" +
                    "\n" +
                    "fn Combine(b Books) Books {\n" +
                    "    return select (pages < 100) (Expensive b);\n" +
                    "}";
            } else if (o.value == "operators") {
                t = "type Books {\n" +
                    "    title string,\n" +
                    "    pages int,\n" +
                    "    price real,\n" +
                    "}\n" +
                    "\n" +
                    "fn PricePerTitle(b Books) {title string, avgPrice real} {\n" +
                    "    var titles = project (title) b;\n" +
                    "\n" +
                    "    return summary (avgPrice = (avg price 0.0)) b titles;\n" +
                    "}"
            }

            p.innerHTML = t;
        }
    </script>
  </head>
  <body>
    {% capture header %}{% include header.html %}{% endcapture %}
    {% capture footer %}{% include footer.html %}{% endcapture %}

    <header>{{ header }}</header>

    <div class="wrapper">
      <section>
        {% if page.blog %}
        <h1>{{ page.title }}</h1>
        <p><small>Published by {{ page.author }} on {{ page.date }}.</small></p>
        {% endif %}
        {{ content }}
      </section>
      <footer>{{ footer }}</footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
